# Project exclude paths
/.gradle/
/Minesweeper/task/build/
/Minesweeper/task/out/
/Minesweeper/task/out/production/classes/
/Problems/The LIFO principle in action/out/
/Problems/The LIFO principle in action/out/production/classes/